<main>
    <center>
      <%# <img class="responsive-img" style="width: 250px;" src="https://i.imgur.com/ax0NCsK.gif" />
       <video class="responsive-video" controls>
    <source src="movie.mp4" type="video/mp4">
  </video> <div class="section"></div> %>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
      <h5 class="indigo-text">Please, create your account</h5>
      <div class="section"></div>

      <div class="container">
        <div class="z-depth-1 grey lighten-4 row" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">

          <form class="col s12" method="post">
            <div class='row'>
              <div class='col s12'>
              </div>
            </div>

            <div class='row'>
              <div class='input-field col s12'>
               
                <%= f.email_field :email, autofocus: true, autocomplete: "email" ,class: "validate" %>
                 <%= f.label :email %><br />
                
              </div>
            </div>
            <div class='row'>
              <div class='input-field col s12'>
               
                
                <%= f.password_field :password, autocomplete: "new-password" ,class: 'validate' %>
                 <%= f.label :password %><br />
                
              </div>
            </div>
            <div class='row'>
              <div class='input-field col s12'>
               
                
                <%= f.password_field :password_confirmation, autocomplete: "new-password" ,class: 'validate'%>
                <%= f.label :password_confirmation %><br />
                
              </div>
            </div>
            <br />
            <center>
              <div class='row'>
                <%= f.submit "Sign up" ,class: 'col s12 btn btn-large waves-effect '%>
              </div>
            </center>
          <%end%>
        </div>
      </div>
       <%= render "devise/shared/links" %>
    </center>

    <div class="section">
     
    </div>
    <div class="section"></div>
  </main>
