 <div class="row">
    <div class="col s12 m7">
      <div class="card">
    
  <div class="card-body">
  <%= form_with(model: book, local: true) do |form| %>
    <% if book.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

        <ul>
        <% book.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
  <% end %>

  <div class="form-row">


    <div class="input-field col s6">
      <%= form.label :name %>
      <%= form.text_field :name  %>
    </div>
    

    <div class="input-field col s6">
      <%= form.label :isbn %>
      <%= form.text_field :isbn ,class: 'form-control'%>
    </div>
    <div class="input-field col s12">

      <%= form.label :description %>
      <%= form.text_area :description ,class: 'materialize-textarea' , id: 'textarea2'%>
    </div>
    <div class="input-field col s12">

      <%= form.label :File %>
      <%= form.file_field :pdf_file ,class: 'file-field input-field validate' %>
    </div>


    <div class="input-field col s6">
      <%= form.submit 'Submit ' , class: 'waves-effect waves-light btn-small' %>
    </div>

  </div>
<% end %>

</div>
</div>
</div>
</div>