<div class = "row">
<div class="form-row">
  <div class="input-field col s6">
    <%= search_form_for @q do |f| %>
      <%= f.label :name_or_description_or_isbn_cont %>
      <%= f.search_field :name_or_description_or_isbn_cont ,class: 'form-control' %>

      <%= f.submit "SEARCH" , class: 'waves-effect waves-light btn-small'%>
    <% end %>
  </div>
</div>


<p id="notice"><%= notice %></p>

<div class="table">
<table class="bordered striped centered highlight">
  <thead class="">
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Isbn</th>
      <th >Action</th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td data-label="Name"><%= book.name %></td>
        <td data-label="Description"><%= book.description.first(10) %> ....</td>
        <td data-label="Isbns"><%= book.isbn %></td>
        <td data-label="Action"><%= link_to 'Show', book , class: 'waves-effect waves-light btn-small'%>
        <%= link_to 'Edit', edit_book_path(book) ,class: 'waves-effect waves-light blue btn-small'%>
        <%= link_to 'Destroy', book, method: :delete,class: 'waves-effect waves-light  red btn-small', data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<ul class="pagination">

<%= will_paginate @books %>
</ul>

</div>

<br>

<%= link_to 'New Book', new_book_path , class: 'waves-effect waves-light btn-small'%>

</div>