<p id="notice"><%= notice %></p>


<div class = "row">
   <div class = "col s6">
      <p>
        
        <h2><%= @book.name %></h2>
      </p>
      <p>
        <strong>Description:</strong>
        <%= @book.description %>
      </p>
      <p>
        s<strong>Isbn:</strong>
        <%= @book.isbn %>
      </p>

   </div>
   <div class = "col s12 m12 l12">
    <iframe style=" width:70%; height:500px; " src="https://docs.google.com/gview?url=<%= request.host_with_port + rails_blob_path(@book.pdf_file) %>&embedded=true"></iframe>
 
   </div>
   <div class = "col s12 m12 l12">
    <%= link_to 'Edit', edit_book_path(@book) %> |
    <%= link_to 'Back', books_path %>
   
   </div>
</div>