<main>
    <center>
       
       <div class="section"></div>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  
      <h5 class="indigo-text">Please, Login your account</h5>
      <div class="section"></div>

      <div class="container">
        <div class="z-depth-1 grey lighten-4 row" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">

          <form class="col s12" method="post">
            <div class='row'>
              <div class='col s12'>
              </div>
            </div>

            <div class='row'>
              <div class='input-field col s12'>
               
                <%= f.email_field :email, autofocus: true, autocomplete: "email" ,class: "validate" %>
                 <%= f.label :email %><br />
                
              </div>
            </div>
            <div class='row'>
              <div class='input-field col s12'>
                <%= f.password_field :password, autocomplete: "current-password" %>
                <label for='password'>Enter your password</label>
              </div>
              <label style='float: right;'>
								<a class='pink-text' href='/users/password/new'><b>Forgot Password?</b></a>
							</label>
            </div>
            <br />
            <center>
              <div class='row'>
                <%= f.submit "Login" ,class: 'col s12 btn btn-large waves-effect '%>
              </div>
            </center>
          <%end%>
        </div>
      </div>
       <%= render "devise/shared/links" %>
    </center>

    <div class="section">
     
    </div>
    <div class="section"></div>
  </main>