<!DOCTYPE html>
<html>
  <head>
    <title>Material1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

  </head>

  <body>
  
  <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo center">BOOK-O-PEDIA</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <% if user_signed_in? %>
        
            <li> <%= link_to('Logout', destroy_user_session_path, method: :delete) %> </li>
            <li><a href="javascript:void(0)"><%= current_user.email %></a></li>
            
        <% else %>
            <li><%= link_to('Login', new_user_session_path) %>  </li>
            <li><%= link_to('Register', new_user_registration_path) %></li>
        <% end %>
        
        
        
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    
   
     
     <% if user_signed_in?  %> 
        
        <li> <%= link_to('Logout', destroy_user_session_path, method: :delete) %> </li>
        <li><a href="javascript:void(0)"><%= current_user.email %></a></li>
    <% else %>
        <li><%= link_to('Login', new_user_session_path) %>  </li>
        <li><%= link_to('Register', new_user_registration_path) %></li>
    <% end %>
    
  </ul>
  <div class="container">
    <%= yield %>
  </div>
  </body>
</html>
